[submodule "src/lib/cannon"]
    path = src/lib/cannon
    url = https://github.com/esac-io/cannon.git
[submodule "src/lib/rysnc.el"]
    path = src/lib/rysnc.el
    url = https://github.com/esac-io/rsync.el.git
[submodule "src/lib/dash"]
	path = src/lib/dash
	url = https://github.com/magnars/dash.el.git
[submodule "src/lib/dash.el"]
	path = src/lib/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "src/lib/s.el"]
	path = src/lib/s.el
	url = https://github.com/magnars/s.el
[submodule "src/lib/ag.el"]
	path = src/lib/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "libs/company-c-headers"]
	path = libs/company-c-headers
	url = https://github.com/randomphrase/company-c-headers
